<section id="block_{{ blockId }}"{{ wrapper_attributes }} >
  <div class="content-wrapper">
    <div class="content-container">
      <div class="image-wrapper">
        <div class="image-container">
          {% for post in posts %}
              {% if post.thumbnail %}
                <div class="post-thumbnail">
                  <img src="{{ post.thumbnail.src }}" alt="{{ post.title }}">
                </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="slide-wrapper">
        <div class="slide-container">
          {% if displayLogo %}<div class="logo">Logo here</div>{% endif %}
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for post in posts %}
                  <div class="swiper-slide">
                    <div class="swiper-slide-content">
                      <span class="slide-index">{% if loop.index < 10 %}0{% endif %}{{ loop.index }}</span>
                      <h2 class="post-title">{{ post.title }}</h2>
                      <div class="post-link-wrapper">
                        <a class="post-link" target="_blank" href="{{ post.link }}">Lue lisää</a>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
