<li id="menu-item-{{ index }}" class="{{ item.class }} {% if level > 0 %}py-2 px-4{% endif %}" data-group="menu-level-{{ level }}"
    data-title="{{ item.title }}">
    <a class="hover:underline menu-link cursor-pointer menu-link-{{ level }}" {% if item.children and not customizer('navigation','submenu_button_is_link') %} data-jtrigger="submenu-button-{{ index }}"{% else %} href="{{ item.link }}" target="{{ item.target }}"{% endif %}>
        {% block item %}
            <span class="title-text">{{ item.title }}</span>
            {% if item.description %}
                <span class="description-text">{{ item.description }}</span>
            {% endif %}
        {% endblock %}
    </a>
    {% if item.children %}
        {% block itemsubmenubutton %}
            <button type="button"
                    class="submenu-button submenu-button submenu-button-{{ level }}"
                    id="submenu-button-{{ index }}"
                    data-jtoggle="submenu-{{ index }} menu-item-{{ index }} submenu-{{ level }}"
                    data-group="menu-level-{{ level }}"
                    aria-haspopup="true">
                <span class="sr-only">{{ __('Toggle Dropdown','jcore') }}</span>
                {% block chevron %}
                    {% if item.children %}
                        <i class="fa-solid fa-chevron-up"></i>
                    {% endif %}
                {% endblock %}
            </button>
        {% endblock %}
        <ul class="submenu-dropdown menu submenu submenu-{{ level }} bg-brand z-50 absolute list-none {% if level == 0 %}top-20{% endif %}"
            data-group="menu-level-{{ level }}"
            id="submenu-{{ index }}" aria-labelledby="submenu-button-{{ index }}">
            {% for child in item.children %}
                {% include ['navigation/item.twig'] with {item: child, index: (index ~ '-' ~ loop.index), level: level + 1} only %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
